# Output file extensions
*.gsd
*.log
*.pbs

# Ignore output data
data/simulations/*/*
data/analysis/*

# Never ignore experiment files
!data/simulations/*/experiment.yml

# Ignore json output from altair
*.json
